[submodule "3rdParty/libsniper"]
	path = 3rdParty/libsniper
	url = https://github.com/metahashorg/libsniper.git
[submodule "common_utils"]
	path = common_utils
	url = https://github.com/metahashorg/torrent_common_utils.git
